body{
  background-color: #283249;
  font-family: 'Arvo', serif;
  text-align: center;
}
h1{
  color: #DBEDF3;
  font-size: 5rem;
  text-shadow: #da0463 3px 0px;
}
footer{
  color: white;
  margin-top: 10%;
}
.drum_button{
  height: 150px;
  width: 150px;
  border-radius: 15px;
  border: solid 10px #404B69;
  margin: 10px;
  font-family: inherit;
  font-size: 5rem;
  font-weight: 900;
  line-height: 2;
  color: #DA0463;
  text-shadow: 3px 0 #dbedf3;
}
.drum_buttom_group{
  margin-top: 10%;
}
.w{
  background-image: url("https://github.com/super-geek-weeb/drummachine/blob/main/images/tom4.png");
}
.a{
  background-image: url("https://github.com/Super-Geek-Weeb/DrumMachine/blob/main/images/snare.png");
}
.s{
  background-image: url("https://github.com/Super-Geek-Weeb/DrumMachine/blob/main/images/crash.PNG");
}
.d{
  background-image: url("https://github.com/Super-Geek-Weeb/DrumMachine/blob/main/images/tom3.png");
}
.j{
  background-image: url("kick.png");
}
.k{
  background-image: url("https://github.com/Super-Geek-Weeb/DrumMachine/blob/main/images/tom1.png");
}
.l{
  background-image: url("tom2.png");
}
